<!DOCTYPE html>
<html>
<head>
    <title>Test App</title>
    <style type="text/css">
    html, body {
        background: #222;
        color: #FFF;
    }
    #ledArray {
        margin: 20px;
    }
    #ledArray header {
        margin-bottom: 20px;
    }
    #ledArray section {
        margin-bottom: 20px;
        padding: 0;
    }
    .led {
        padding: 0;
        margin: 0;
        border-radius: 50%;
        float:left;
        font-size: 0.6rem;
        color: #000;
        text-align: center;
    }
    </style>
    <script type="text/javascript" src="http://code.angularjs.org/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.4.5/angular-route.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.4.5/angular-animate.min.js"></script>
    <script type="text/javascript" src="src/js/app.js"></script>
    <script type="text/javascript" src="src/js/apps/LEDSimulator/module.js"></script>
    <script type="text/javascript" src="src/js/apps/LEDSimulator/controllers/ledArray.controller.js"></script>
    <script type="text/javascript" src="src/js/apps/LEDSimulator/directives/led.directive.js"></script>
    <script type="text/javascript" src="src/js/apps/LEDSimulator/services/ledArray.factory.js"></script>
    <script type="text/javascript" src="src/js/apps/LEDSimulator/services/ledImageDrop.factory.js"></script>
</head>
<body ng-app="testing">

    <div id="ledArray" ng-controller="ledArray as vm">
        <header>
            <button ng-click="vm.reset()">Reset</button> | 
            <button ng-click="vm.removeColor('red')">Remove Red</button>
            <button ng-click="vm.removeColor('green')">Remove Green</button>
            <button ng-click="vm.removeColor('blue')">Remove Blue</button>
            <button ng-click="vm.addColor('red',255)">Full Red</button>
            <button ng-click="vm.addColor('green',255)">Full Green</button>
            <button ng-click="vm.addColor('blue',255)">Full Blue</button>
            <button ng-click="vm.rainbow()">Rainbow</button>
            <button ng-click="vm.plasma()">Plasma</button>
        </header>
        <section id="imageDrop" style="width:{{vm.dimensions.w*vm.dimensions.p}}px; height:{{vm.dimensions.h*vm.dimensions.p}}px">
            <led pixel-size="vm.dimensions.p" red="led.red" green="led.green" blue="led.blue" ng-repeat="led in vm.leds"></led>
        </section>
        <footer>
            <p>
                W: <input type="number" ng-model="vm.dimensions.w" ng-change="vm.adjustDimensions()" />
                H: <input type="number" ng-model="vm.dimensions.h" ng-change="vm.adjustDimensions()" />
                P: <input type="number" ng-model="vm.dimensions.p" ng-change="vm.adjustDimensions()" />
                Co: <input type="number" ng-model="vm.dimensions.co" ng-change="vm.adjustDimensions()" />
            </p>
            <p>
                A: <input type="number" ng-model="vm.plasmaParams.a" ng-change="vm.sine()" step="0.01" />
                S: <input type="number" ng-model="vm.plasmaParams.s" ng-change="vm.sine()" step="0.1" />
                L: <input type="number" ng-model="vm.plasmaParams.l" ng-change="vm.sine()" step="0.01" /><br />
                Ph: <input type="number" ng-model="vm.plasmaParams.ph" ng-change="vm.sine()" step="0.5" />

                F: <input type="number" ng-model="vm.plasmaParams.f" ng-change="vm.sine()" step="0.001" />
                W: <input type="number" ng-model="vm.plasmaParams.w" ng-change="vm.sine()" step="5" />
                Wo: <input type="number" ng-model="vm.plasmaParams.wo" ng-change="vm.sine()" step="5" />
            </p>
            <p>
                <input type="checkbox" ng-model="vm.colorToggles.r" />
                <!-- RF: <input type="number" ng-model="vm.plasmaParams.rf" ng-change="vm.sine()" step="0.01" /> -->
                <!-- RP: <input type="number" ng-model="vm.plasmaParams.rp" ng-change="vm.sine()" step="0.01" /> -->
                <!-- RW: <input type="number" ng-model="vm.plasmaParams.rw" ng-change="vm.sine()" step="0.01" /> -->
                RFS: <input type="number" ng-model="vm.plasmaParams.rfs" ng-change="vm.sine()" step="0.01" />
                RPS: <input type="number" ng-model="vm.plasmaParams.rps" ng-change="vm.sine()" step="0.01" />
                RWS: <input type="number" ng-model="vm.plasmaParams.rws" ng-change="vm.sine()" step="0.01" />
            </p>
            <p>
                <input type="checkbox" ng-model="vm.colorToggles.g" />
                <!-- GF: <input type="number" ng-model="vm.plasmaParams.bf" ng-change="vm.sine()" step="0.01" /> -->
                <!-- GP: <input type="number" ng-model="vm.plasmaParams.bp" ng-change="vm.sine()" step="0.01" /> -->
                <!-- GW: <input type="number" ng-model="vm.plasmaParams.bw" ng-change="vm.sine()" step="0.01" /> -->
                GFS: <input type="number" ng-model="vm.plasmaParams.gfs" ng-change="vm.sine()" step="0.01" />
                GPS: <input type="number" ng-model="vm.plasmaParams.gps" ng-change="vm.sine()" step="0.01" />
                GWS: <input type="number" ng-model="vm.plasmaParams.gws" ng-change="vm.sine()" step="0.01" />
            </p>
            <p>
                <input type="checkbox" ng-model="vm.colorToggles.b" />
                <!-- BF: <input type="number" ng-model="vm.plasmaParams.gp" ng-change="vm.sine()" step="0.01" /> -->
                <!-- BP: <input type="number" ng-model="vm.plasmaParams.gf" ng-change="vm.sine()" step="0.01" /> -->
                <!-- BW: <input type="number" ng-model="vm.plasmaParams.gw" ng-change="vm.sine()" step="0.01" /> -->
                BFS: <input type="number" ng-model="vm.plasmaParams.bfs" ng-change="vm.sine()" step="0.01" />
                BPS: <input type="number" ng-model="vm.plasmaParams.bps" ng-change="vm.sine()" step="0.01" />
                BWS: <input type="number" ng-model="vm.plasmaParams.bws" ng-change="vm.sine()" step="0.01" />
            </p>
        </footer>
    </div>

</body>
</html>